<div id="navbar">
    <div class="navbar-container">
        <header>
            <span class="check">
                <span class="ball"></span>
            </span>
            <i class="fas fa-stream js-hide-navbar"></i>
        </header>
        <div class="logo">
            <i class="navbar__logo fab fa-forumbee"></i>
            <span class="navbar__primary-text">Bee</span><span>music</span>
        </div>
        <div class="navbar-content">
            <nav>
                <li class="navbar-content__icon">
                    <a href="/"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="navbar-content__icon">
                    <a href="#"><i class="fas fa-chart-line"></i>Trend</a>
                </li>
                <li class="navbar-content__icon">
                    <a href="#"><i class="fas fa-compass"></i>Feed</a>
                </li>
            </nav>

            <nav>
                <p class=" navbar-content__title">Discover</p>
                <ul>
                    <li class="navbar-content__icon">
                        <a href="#"><i class="far fa-newspaper"></i>New and Notable</a>
                    </li>
                    <li class="navbar-content__icon">
                        <a href="#"><i class="fas fa-calendar-alt"></i>Realese Calendar</a>
                    </li>
                    <li class="navbar-content__icon">
                        <a href="#"><i class="fas fa-ticket-alt"></i>Events</a>
                    </li>
                </ul>
            </nav>

            <nav>
                <p class=" navbar-content__title">Your Collection</p>
                <ul>
                    <li class="navbar-content__icon">
                        <a href="#"><i class="fas fa-heart"></i>Favorite Songs</a>
                    </li>
                    <li class="navbar-content__icon">
                        <a href="#"><i class="fas fa-users"></i>Artist</a>
                    </li>
                    <li class="navbar-content__icon">
                        <a href="/albums"><i class="fas fa-star"></i>Albums</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="navbar-user">
        <div class="navbar-user__container">
            <div class="user-avt">
                <img src="/img/User.png" alt="">
            </div>
            <div class="user-name">Example No Name</div>
            <a href=""><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</div>