<div id="sidebar">
    <div class="sidebar__shortcuts">
        <p class="sidebar__shortcuts-title">Shortcuts
            <i class="fas fa-stream js-hide-sidebar"></i>
        </p>
        <div class="sidebar__shortcuts-items">
            <span class="sidebar__shortcuts-item">Chill
                <img src="/img/snow.png" alt="">
            </span>
            <span class="sidebar__shortcuts-item">Hot
                <img src="/img/star.png" alt="">
            </span>
            <span class="sidebar__shortcuts-item">Piano instrumental
                <img src="/img/piano.png" alt="">
            </span>
            <span class="sidebar__shortcuts-item">Jazz
                <img src="/img/jazz.png" alt="">
            </span>
            <span class="sidebar__shortcuts-item">Acoustic
                <img src="/img/ghitar.png" alt="">
            </span>
        </div>
    </div>

    <div class="sidebar__favorite">
        <p class="sidebar__favorite-title">Favorite Artists</p>
        <!--    ARTIST 1    -->
        <div class="sidebar__favorite-list">
            <div class="artist-info__avt">
                <img src="/img/tóc-tiên.jpg" alt="">
            </div>
            <div class="artist-info">
                <h4 class="artist-info__name">Tóc Tiên</h4>
                <p class="artist-info__song">6 songs in library</p>
            </div>
            <i class="fas fa-ellipsis-h"></i>
        </div>

        <!--    ARTIST 2    -->
        <div class="sidebar__favorite-list">
            <div class="artist-info__avt">
                <img src="/img/min.jpg" alt="">
            </div>
            <div class="artist-info">
                <h4 class="artist-info__name">Min</h4>
                <p class="artist-info__song">5 songs in library</p>
            </div>
            <i class="fas fa-ellipsis-h"></i>
        </div>
    </div>

    <div class="sidebar__suggest-album">
        <div class="suggest-album">
            <div class="suggest-album__img-container">
                <img src="/img/ngô-lan-hương.jpg" alt="">
            </div>
            <div class="suggest-album__content">
                <div class="suggest-album__info">
                    <h4>Anh muốn đưa em về không</h4>
                    <p>Ngô Lan Hương</p>
                </div>
                <i class="far fa-plus-square"></i>
            </div>
        </div>
    </div>
</div>